/* styles.css */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Navbar Styles */
.navbar {
    position: fixed; /* Keeps the navbar fixed at the top */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 180px;
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    padding: 10px 60px;
}

/* Navigation Links Styles */
.nav-links ul {
  display: flex;
  gap: 20px; /* Space between links */
  align-items: center;
}

.nav-links ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 32px;
  transition: color 0.3s ease;
}

.nav-links ul li a:hover {
  color: #ff6347; /* Change to your preferred hover color */
}

/* Logo styles */
.logo {
  display: flex;
  align-items: center; /* Vertically center the logo */
}

.logo img {
  width: 266px; /* Adjust SVG width */
  height: auto; /* Maintain aspect ratio */
}

/* Main Content Styles */
main {
  padding-top: 180px; /* Adds padding to prevent content from being hidden behind the fixed navbar */
}

section {
  padding: 50px 20px;
  min-height: 100vh; /* Ensures each section takes up the full viewport height */
}
