/* styles.css */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Navbar Styles */
.navbar {
  position: fixed; /* Keeps the navbar fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: white;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Ensures the navbar stays above other content */
}

