<footer class="footer">
    <div class="footer-container">
        <div class="footer-socials">
            <a href="https://t.me/fdtbandung"><img src="assets/telegram-icon.svg" alt="Facebook"></a>
            <a href="https://x.com/tf_bandung"><img src="assets/twitter-icon.svg" alt="Twitter"></a>
            <a href="https://instagram.com/transportforbandung"><img src="assets/instagram-icon.svg" alt="Instagram"></a>
        </div>
    </div>
    <p class="footer-copy">© 2025 Transport for Bandung. All Rights Reserved.</p>
    <p class="footer-copy">Made by Naufal, Multimedia and Cartography Department.</p>
</footer>
