<header class="navbar">
  <div class="logo">
    <a href="index.html"><img src="assets/TfB-green-logo-stacked.svg" alt="Logo Transport for Bandung" width="200" height="60"></a>
  </div>
  <nav class="nav-links">
    <ul>
      <li><a href="tentang-kami" class="bold">Tentang Kami</a></li>
      <li><a href="blog" class="bold">Blog</a></li>
      <li><a href="peta" class="button" style="color: #FFFFFF;">Peta dan Panduan</a></li>
    </ul>
  </nav>
  <!--Hamburger for phone-->
  <button class="hamburger" aria-label="Toggle navigation">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <script src="./components/hamburger.js" defer></script>
</header>
